@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.hero-body{
    background: #282828;
    background: linear-gradient(-45deg,#EE7752,#8BC34A,#23A6D5,#23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.body-container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: white;
}

.hero-container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.hero-title{
    font-size: 75px;
    font-family: 'Varela Round', sans-serif;
}

.hero-subtitle{
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
}

.fab{
    color: white;
}

.card{
    margin-top: 40px;
    width: 400px;
    transition: transform 0.2s;
}

.card:hover{
    transform: scale(1.2);
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.table-container{
    width: 100%;
    overflow-x: scroll;
}

.confirmedfoot{
    background-color: rgb(255, 109, 0);
}

.activefoot{
    background-color: rgb(244, 67, 54);
}

.recoveredfoot{
    background-color: rgb(104, 159, 56);
}

.deathfoot{
    background-color: rgb(66, 66, 66);
}

.pie{
    margin-top: 50px;
    margin-bottom: 50px;
}

.autocomplete{
    width:35%;
}

.input-container{
    display:flex;
    justify-content: space-between;
    margin-left:6.7%;
    margin-right: 6.7%;
    margin-top: 20px;
}

.table-header{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.hero{
    position:-webkit-sticky;
    position: sticky;
    top:0;
    z-index: -10;
}

